.component1.component1 {
  right: 53.121%;
  bottom: 58.7927%;
  width: initial;
  height: initial;
}
.rectangle30.rectangle30 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle302.png');
}
.benSbanotto {
  color: #1b365d;
  font-size: 25px;
  font-family: Roboto Serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 36.1413%;
  right: 17.9348%;
  top: 26.7516%;
  bottom: 47.1338%;
  justify-content: center;
  flex-direction: column;
}
.component4.component4 {
  left: 52.3567%;
  right: 0.7643%;
  top: 58.5302%;
  bottom: 0.2625%;
  width: initial;
  height: initial;
}
.component3.component3 {
  left: 53.121%;
  right: 0;
  bottom: 58.7927%;
  width: initial;
  height: initial;
}
.rectangle302.rectangle302 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle303.png');
}
.benSbanotto2 {
  color: #1b365d;
  font-size: 25px;
  font-family: Roboto Serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 36.1413%;
  right: 17.9348%;
  top: 26.7516%;
  bottom: 47.1338%;
  justify-content: center;
  flex-direction: column;
}
.grandson {
  color: #3949ab;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 36.1413%;
  right: 17.9348%;
  top: 44.586%;
  bottom: 29.2994%;
  justify-content: center;
  flex-direction: column;
}
.component2.component2 {
  right: 53.121%;
  top: 58.7927%;
  bottom: 0;
  width: initial;
  height: initial;
}
.rectangle303.rectangle303 {
  background-image:/* webpackIgnore: true */ url('/assets/rectangle304.png');
}
.benSbanotto3 {
  color: #1b365d;
  font-size: 25px;
  font-family: Roboto Serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 36.1413%;
  right: 17.9348%;
  top: 26.7516%;
  bottom: 47.1338%;
  justify-content: center;
  flex-direction: column;
}
.grandson2 {
  color: #3949ab;
  font-size: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 36.1413%;
  right: 17.9348%;
  top: 44.586%;
  bottom: 29.2994%;
  justify-content: center;
  flex-direction: column;
}
.vector.vector {
  left: 58.8535%;
  right: 31.5924%;
  top: 69.5538%;
  bottom: 10.7612%;
  width: initial;
  height: initial;
}
.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 785px;
  height: 381px;
  flex-direction: column;
  align-items: flex-start;
}
.addNewContact {
  color: #1b365d;
  font-size: 25px;
  font-family: Roboto Serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 71.2102%;
  right: 7.2611%;
  top: 74.0157%;
  bottom: 15.2231%;
  justify-content: center;
  flex-direction: column;
}
