.cancelIcon.cancelIcon {
  left: 14px;
  top: 13px;
  width: 25px;
  height: 25px;
}
.icon {
  width: 100%;
  height: 100%;
}
.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 129px;
  height: 51px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle57 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  background-color: #8e8e8e;
}
.cancel {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  right: 14px;
  top: 27.451%;
  bottom: 25.4902%;
  width: 77px;
  height: min-content;
  text-align: end;
  align-items: end;
  flex-direction: column;
}
