.root {
  position: absolute;
  left: calc(50% - 20.25px);
  top: calc(50% - 84.4998px);
  width: min-content;
  height: min-content;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.vector {
  width: 42.5px;
  height: 35.0005px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
