.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 117px;
  height: 138px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle21 {
  position: absolute;
  left: 0;
  top: 0;
  width: 117px;
  height: 138px;
  outline: solid 1px #000;
  outline-offset: -1px;
  background-color: #ff4747;
}
.vector {
  position: absolute;
  left: 20.2078%;
  right: 19.353%;
  top: 24.3802%;
  bottom: 24.3779%;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
