.centerLogo.centerLogo {
  left: 386px;
  top: 289px;
  width: 252.5px;
  height: 190px;
}
.familyCircle {
  color: #c6c6c6;
  font-size: 50px;
  font-family: Crimson Text, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: -0.198%;
  top: 32.1053%;
  bottom: 33.6842%;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.icon {
  width: 100%;
  height: 100%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.contactCard1.contactCard1 {
  left: 72px;
  top: 61px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.contactCard2.contactCard2 {
  left: 72px;
  top: 415px;
}
.benS {
  color: #1b365d;
  font-size: 40px;
  font-family: Roboto Serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 191px;
  width: 300px;
  height: 47px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.grandson {
  color: #1b365d;
  font-size: 30px;
  font-weight: 200;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 238px;
  width: 300px;
  height: 47px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.contactCard3.contactCard3 {
  left: 663px;
  top: 57px;
}
.benS2 {
  color: #1b365d;
  font-size: 40px;
  font-family: Roboto Serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 191px;
  width: 300px;
  height: 47px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.grandson2 {
  color: #1b365d;
  font-size: 30px;
  font-weight: 200;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 238px;
  width: 300px;
  height: 47px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
}
.background1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1024px;
  height: 768px;
  background-color: #fff;
}
.settingsButton {
  position: absolute;
  left: 488px;
  top: 691px;
  width: 47.1265px;
  height: 49.9902px;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
