.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 300px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle11 {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 300px;
  outline: solid 4px #3949ab;
  outline-offset: -4px;
  border-radius: 50px;
  background-color: #fff0;
  box-shadow: inset 4px 4px 0px 0px #1b365d, 4px 4px 0px 0px #1b365d;
}
.rectangle12 {
  position: absolute;
  left: -4px;
  top: -4px;
  width: 308px;
  height: 308px;
  outline: solid 4px #1b365d;
  outline-offset: -4px;
  border-radius: 54px;
  background-color: #fff0;
  box-shadow: inset 4px 4px 0px 0px #1b365d, 4px 4px 0px 0px #1b365d;
}
.benS {
  color: #1b365d;
  font-size: 40px;
  font-family: Roboto Serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 191px;
  width: 300px;
  height: 47px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.grandson {
  color: #1b365d;
  font-size: 30px;
  font-weight: 200;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 238px;
  width: 300px;
  height: 47px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ellipse1 {
  position: absolute;
  left: 75px;
  top: 28px;
  width: 150px;
  height: 150px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
